<div class="container">
  <div class="mat-elevation-z8"
    style="height: 350px; width: 48%; background-color: #f1f1f1;float: left;margin-top: 30px;">
    <p-chart [data]="data" [options]="options" [responsive]="true" height="320" width="400" type="doughnut"></p-chart>
  </div>
  <div class="mat-elevation-z8"
    style="height: 350px; width: 48%; background-color: #f1f1f1;float: right;margin-top: 30px;margin-bottom: 20px">
    <p-chart [data]="data2" [options]="options2" [responsive]="true" height="320" width="400" type="bar"></p-chart>
  </div>
</div>