<div class="container">
  <div class="mat-elevation-z8 grafico-left">
    <div class="container-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <p-chart [data]="data" [options]="options" [responsive]="true" height="320" width="400" type="doughnut"></p-chart>
  </div>
  <div class="mat-elevation-z8 grafico-right">
    <h4>Totalizador de Eventos </h4>
    <ul class="l-none" *ngFor="let sensorRegiao of sensoresRegiao">
      <li>{{sensorRegiao.regiao}} - <b>{{sensorRegiao.total}}</b></li>
      <li>
        <ul class="l-none" *ngFor="let sensor of sensorRegiao.totalizadorSensores">
            <li>{{sensor.sensor}} - <b>{{sensor.total}}</b></li>
        </ul>
      </li>
    </ul>
  </div>
</div>